<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>小盛線上補課系統 - 教師主頁面</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/upload.css') }}">
  <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/logo.jpg') }}">
</head>

<body>

  <div class="navbar">
    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Shungco"
      style="max-width: 200px; max-height: 200px;">
    <a href=" {{ url_for('teacher.index') }}">教師主頁面</a>
    <a href=" {{ url_for('teacher.upload') }}">學生管理</a>
    <a href=" {{ url_for('teacher.video') }}">影片管理</a>
    <a href=" {{ url_for('teacher.course') }}">課程管理</a>
    <a href=" {{ url_for('teacher.distribute') }}">派發課程</a>
    <button class="logout-btn" onclick="logout()">登出</button>
    <div class="made-by">made by kevin</div>
  </div>

  <div class="content">
    <h1>Welcome!!</h1>

  </div>
</body>

</html>