<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/upload.css') }}">
    <script src="{{ url_for('static', filename='js/teacher/upload.js') }}"></script>
    <title>學生管理頁面</title>
</head>

<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Shungco"
            style="max-width: 200px; max-height: 200px;">
        <a href="{{ url_for('teacher.index') }}">教師主頁面</a>
        <a href=" {{ url_for('teacher.upload') }}">學生管理</a>
        <a href=" {{ url_for('teacher.video') }}">影片管理</a>
        <button class="logout-btn" onclick="logout()">登出</button>
        <div class="made-by">made by kevin</div>
    </div>
    <div class="content">
        <h1>新增學員名單</h1>
        <div class="csv-preview">
            <!-- 預覽CSV檔中的學員（初始預覽框） -->
        </div>
        <div class="csv-upload">
            <h2>上傳CSV檔</h2>
            <input type="file" accept=".csv" id="csvFileInput" onchange="previewCSV()">
            <input type="button" onclick="upload()">上傳CSV檔</button>
        </div>
    </div>
</body>

</html>