<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>詠盛線上補課系統</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
  <script src="{{ url_for('static', filename='js/login/login.js') }}"></script>
</head>

<body>

  <div class="login-container">
    <h2>詠盛線上補課系統</h2>
    <form class="login-form">
      <div class="form-group">
        <label for="username">使用者名稱：</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">密碼：</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="button" value="登入" class="submit" onclick="summit()">
      </div>
    </form>
  </div>

</body>

</html>